.avatar-200 img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.avatar-40 img {
    border: 1px #bbbbbb solid;
    object-fit: cover;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.avatar-30 img {
    border: 1px #bbbbbb solid;
    object-fit: cover;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.edit-user-avatar-border {
    padding-left: 60px;
    border-left: 1px #cccccc solid;
}

@media (max-width: 768px){
    .edit-user-avatar-border {
        border: 0;
        padding-left: 15px;
    }
}