/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *.
 *= require_self
 */

$main-color: #0005e5;
$second-color: #000975;
$dark-color: #404040;
$dark-second-color: #202020;

a, a:hover {
  color: $main-color;
}

body {
  background-color: #f0f0f0;
}


@import 'parts/messages.scss';
@import 'parts/alerts.scss';
@import 'parts/comments.scss';
@import 'parts/users.scss';
@import 'parts/buttons.scss';
@import 'parts/pagination.scss';

.word-wrap {
    word-wrap: break-word;
}